*{
    box-sizing: border-box;
    padding: 0;
}
/*ESTILOS GLOBAL*/
body{
    background: #e8dcebef;
    color: #25282B;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body.hideScrool{
    overflow: hidden;
}
a{
    color: #5a2ea6;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color:#5a2ea6;
    font-weight: bold;
    text-decoration: underline;
}
p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
button:hover{
    text-decoration: underline;
}
.button{
    color: white;
    background-color: #5a2ea6;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px #b6a1dab4;
    font-size: 14px;
    font-weight: bold;
    /*PARA ALINHAR O TEXTO DO BOTÃO*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 300ms;
}
.button:hover{
    background-color:#2d235c;
    text-decoration: none;
    color: white;
}

/**/
#container{
    width: 90%;
    max-width: 980px;
    margin:1px auto;
    display: flex;
}
#intro{
    width: 400px;
    margin-right: 75px;
}
#logo{
    display: flex;
    margin-left: 19%;
    margin-top: 20px;
}
main{
    margin: 35px 0;
}
#buttons{
    display: flex;
    margin-bottom: 32px;
    font-weight: bold;
    justify-content: space-evenly;
}
button{
    background: none;
    color: #5a2ea6;
    border:none;
    font-weight: bold;
    cursor: pointer;
    outline: none; 
}
.button:hover{
    text-decoration: none;
}
#buttons, footer{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: rgb(109, 109, 109);
}
.idea{
    display: flex;
    margin: 2vh 0 17px 0 ;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.5) ;
    border-radius: 8px;
    padding: 3.2vh;
}
.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}
.idea h3{
    margin: 0;
}
.idea p{
    margin: 8px 0;
    color:#777;
}
.idea .description{
    margin: 16px 0;
}

/*MODAL*/
#modal{
    background: #5a2ea6;

    /*PARA SOBREPOR TODA TELA*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /**/

    display: flex;
    justify-content: center;
    transition: all 400ms;
}
#modal.addScrool{
    overflow: auto;
}
#modal .content{
    margin-top: 0.5vw;
    color: rgba(255, 255, 255, 0.801);
}
#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}
#modal form{
    width: 80%;
    max-width: 800px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin: 0px auto 0.5vh;
}
/*PARA QUE APARTIR DO SEGUNDO INPUT NÃO RESPEITE O PADRÃO FRACIONADO (1fr 1fr)*/
.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;  /*'SPANDA' ATÉ A SEGUNDA COLUNA FRACIONADA*/
}
form input,
form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #4a08bd;
    outline: none;
    font-size: 16px;

}
form label{
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.8px;
}
form a{
    font-size: 18px;
    color: #ffffffa9;
    width: 100px;
    height: 40px;

    /*flex*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*grid, erdando do form*/
    align-self: end;
}
form a:hover{
    text-decoration: underline;
    transition: all 200ms;
    color: #fff;
}
form button{
    background: white;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;

    /*JOGANDO O BOTÃO PRA COLUNA 2, E JUSTIFICANDO PRO FIM*/
    grid-column: 2;
    justify-self: end;

}
form button:hover{
    background-color:#2d235c;
    color: white;
    text-decoration: none;
    transition: all 300ms;
}
#modal.hide{
    opacity: 0;
    visibility: hidden;
}

                                            /*IDEIA.HTML*/

/*TIRANDO O COMPORTAMENTO DO CONTAINER DO INDEX E ESTILIZANDO COM CASCATA, PARA NÃO INFLUENCIAR NESTA PAGE*/
#page-ideas #container{
    display: block;
}
#page-ideas header{
    display: flex;
    justify-content: space-between;
    margin-top: -1.5vh;
}
#page-ideas header #logo{
    display: flex;
    margin-left: 0.5vw;
    margin-top: 2vh;
    height: 20vh;
}
#page-ideas nav{
    display: flex;
    /*PARA POR OS ITENS EM LINHA*/
    align-items: center;
}
#page-ideas nav li{
    list-style-type: none;
    margin-right: 20px;
}
#page-ideas nav li a{
    color: #25282B;
}
#page-ideas nav li a.button{
    color: white;
}
#page-ideas nav li:last-child{
    margin: 0;
}
section#title{
    text-align: center;
    margin: -1vh 0 -4.2vh 0;
}
section#title p{
    opacity: 0.7;
    margin: 0;
}
section#title h1{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}
#page-ideas section#ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
section#ideas .idea{
    margin: 0;
}
#page-ideas footer{
    margin-top: -1vh;
}